<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.express">

    <uses-permission android:name="android.permission.VIBRATE" />

    <dist:module dist:instant="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name=".Item_Analytics"
            android:label="@string/title_activity_item__analytics"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".Searchproductsactivity" />
        <activity
            android:name=".ShopKeeperDashBoardActivity"
            android:label="@string/title_activity_shop_keeper_dash_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".loginActivity" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>