<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="Droid_project">

    <uses-permission android:name="android.permission.VIBRATE" />

    <dist:module dist:instant="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/cart"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cart"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        >

        <activity
            android:name="com.example.express.Item_Analytics"
            android:label="@string/title_activity_item__analytics"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.example.express.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.express.ProductDetailsActivity" />
        <activity android:name="com.example.express.Searchproductsactivity" />
        <activity
            android:name="com.example.express.ShopKeeperDashBoardActivity"
            android:label="@string/title_activity_shop_keeper_dash_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.express.HomeActivity" />
        <activity android:name="com.example.express.RegisterActivity" />
        <activity android:name="com.example.express.loginActivity" />
        <activity android:name="com.example.express.MainActivity"></activity>
    </application>

</manifest>